<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.big_o_tires.script.Verify_InvalidLoginPage"/>
      <class name="com.big_o_tires.script.Verify_Version"/>
      <class name="com.big_o_tires.script.Verify_Valid_LoginPage"/>
      <class name="com.big_o_tires.script.Verify_HomePage"/>
      <class name="com.big_o_tires.script.Verify_HomePage_Title"/>
      <class name="com.big_o_tires.script.Verify_CheckBox"/>
      <class name="com.big_o_tires.script.Verify_Reports"/>
      <class name="com.big_o_tires.script.Verify_ValidLoginPageTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
